
.my-profile-container {
    display: flex;
    justify-content: center;
    max-height: 28px;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height:max-content;
    max-height: max-content;
    padding: 10px;
}

@media (min-width: 1024px) {
    .my-profile-container{
        display: grid;
        grid-template-columns: 15% 80%;
    }
}