.image-container {
    background-color: #34D399; // Green background color (adjust as needed)
    border-start-start-radius: 0.125rem /* 2px */;
    border-end-start-radius: 0.125rem /* 2px */;
    min-width: 13rem /* 208px */;
    max-width: 13rem /* 208px */;
    padding: 1rem; // Padding
    cursor: pointer; // Hover cursor
    font-weight: bold; // Bold text (if applicable)
}